// Place all the styles related to the Traineeships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
	color: #FFFFFF;
}

a:link{
	display: inline-block;
	width: 150px;
	font-weight: bold;
	color: #7D354F;
	}

.navbar{
	display: block;
	height: 50px;
	background-color: #0A8FA7
}*/

body{
	background-color: #A7B9C9;
}

.header{
	border-bottom: thin solid #000; 
	margin-bottom:10px; 
	padding: 10px;
	}

h1 {
	font-family: "New Cycle"
} 
.input {
	border: 3px solid #E4E4E4;
	border-radius: 10px;
	font-family: "News Cycle";
	font-size: 16px;
	background-color: #F7F7F7;
	 /* background: -webkit-linear-gradient(#A8AA9B, #7B7D80); For Safari 5.1 to 6.0
	   background: -o-linear-gradient(#A8AA9B, #7B7D80); For Opera 11.1 to 12.0
	   background: -moz-linear-gradient(#A8AA9B, #7B7D80); For Firefox 3.6 to 15
	   background: linear-gradient(#A8AA9B, #7B7D80); Standard syntax */
	/* margin: auto; */
	/* width: 75%; */
}

.create{
	color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
	height: 50px;
}

.traineeship{
	background-color: #E8E9E4;
	border-radius: 10px;
	margin: 10px;
    height: 75px;
  
  
}

.container{
	text-align: center;
}
.info{
	height: 100%;
	border-right: dotted black;
	border-width: 1px;
}

.traineeship :last-child{
	border-right: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.banner{
	text-align: center;
	height: 80%;
}

.banner img{
	height: 100%;
}

.navbar-form{
}


.expandable{
	text-align: center;
}
form .navbar-form {
	margin: 0 auto;
	text-align: center;
	display:inline;
}
.info{
	display: inline-block;
}

form{
	display: inline-block;
}

label {
	display: block;
}

h1 {
	text-align: center;
}

textarea{
	min-height: 150px;
}

.low {
	background-color: #CB524B;
}
.middle{
	background-color: #E2E820;
}

.high {
	background-color: #26F10A;
}
.required .control-label:after {
  content:"*";
  color:red;
}

.form-group.required .control-label:after {
	content:"*";
  color:red;
}