// Place all the styles related to the Traineeships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
	color: #FFFFFF;
}

a:link{
	display: inline-block;
	width: 150px;
	font-weight: bold;
	color: #7D354F;
	}

.navbar{
	display: block;
	height: 50px;
	background-color: #0A8FA7
}

h1 {
	font-family: "New Cycle"
}
.input {
	border: 3px solid #E4E4E4;
	border-radius: 10px;
	font-family: "News Cycle";
	font-size: 16px;
	background-color: #F7F7F7;
	 /* background: -webkit-linear-gradient(#A8AA9B, #7B7D80); For Safari 5.1 to 6.0
	   background: -o-linear-gradient(#A8AA9B, #7B7D80); For Opera 11.1 to 12.0
	   background: -moz-linear-gradient(#A8AA9B, #7B7D80); For Firefox 3.6 to 15
	   background: linear-gradient(#A8AA9B, #7B7D80); Standard syntax */
	/* margin: auto; */
	/* width: 75%; */
}

.create{
	color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
	height: 50px;
}

.traineeship{
	background-color: #E8E9E4;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
    height: 75px;
    -moz-box-shadow: -10px 5px 5px black;
-webkit-box-shadow: -10px 5px 5px black;
        box-shadow: -10px 5px 5px black;
}

.info{
	display: inline-block;
}

form{
	display: inline-block;
}

label {
	display: block;
}

h1 {
	text-align: center;
}